.app{
  /* background-color: rgba(32, 45, 55, 0.5); */
}
.header {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  margin: 1px 30px;

}
.filter{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: space-between;
  margin: 1px 30px;

}

.input{
  width: 400px;
  background-color: transparent;
}
.card-main{
  width: 250px !important;
  margin: 10px;
  box-shadow: 0 10px 10px rgba(32, 45, 55, 0.5);
  
}
.country-container{
  display: flex;
  flex-direction: row;
  flex-wrap:wrap ;
  justify-content: space-around;
  padding: 30px;
  
}




@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
